@{
    ViewData["Title"] = "Интернет-магазин";
}

<h3>Тема работы: "Книжный интернет-магазин"</h3>
<p>
    На сегодняшний день, огромную популярность среди веб-сервисов приобрели интернет-магазины (и все схожие с ними продукты). Каждый человек сталкивается с подобными ресурсами в своей жизни. Кто-то просто пользуется, а кто-то пытается понять и разобраться, как всё устроено, к чему приводит то или иное дейтсвие на странице.
    В рамках своей работы, я попытался реализовать сам механизм, который максимально схож с нынешними гигантами, как Amazon, eBay, Ozon и др.
</p>
<p>
    Промышленная разработка — лучшая ситуация для самообучения. В рамках напиания работы можно получить не только предметные знания в области web-разработки, но и попрактиковаться с изученными на текущий период времени технологиями.
</p>

<h3>Проект</h3>
<p>
    В качестве своего проекта я выбрал книжный интернет-магазин. Каждый из нас покупал книги в интернете и хорошо представляет предметную область. Нам не придётся пару недель разбираться в том, что мы хотим сделать.
</p>
<p>
    С другой стороны, интернет-магазин уже достаточно велик и практичен, чтобы мы могли столкнуться с проблемами и понять, как абстрактные знания помогают их решать.
</p>

<h2>О проекте</h2>
<p>
    Продолжительность работы велась пару месяцев. Я попытался учесть все аспекты и сделать полноценный продукт.
</p>

<h3>Темы, изученные в рамках проектирования</h3>
<ul>
    <li>SQL</li>
    <li>git и GitHub</li>
    <li>Agile: бэклог, пользовательские истории, итерации</li>
    <li>Модульное тестирование</li>
    <li>Паттерны проектирования</li>
    <li>Принципы SOLID</li>
    <li>DDD (Domain Driven Design)</li>
    <li>MVC</li>
    <li>Entity Framework</li>
</ul>
<p>
    p.s. Таже, помимо языков программирования, указанных в документации, использовались HTML, CSS и JavaScript.
</p>

<p>
    <a href="https://www.linkedin.com/in/glebyshka/">Мой LinkedIn</a>.
</p>

