@{ 
    ViewData["Title"] = "Заказ оформлен";
}

<p>
    Заказ оформлен. Мы собираем его, чтобы передатьв службу доставки.
    Ждите SMS.
</p>
<p>
    <a href ="@Url.Action("Index","Home")">Вернуться в магазин.</a>
</p>